<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>ecommerce</title>
</head>
<body>
<div>
    <div th:replace="~{navigation :: navigation(Cart)}"></div>

    <h1>Cart</h1>
    <table>
        <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${cart.items}">
            <td th:text="${item.product.title}">
            <td th:text="${item.quantity}">
            <td th:text="${item.price}">
        </tr>
        </tbody>
    </table>
    <span th:text="'Total price: ' + ${cart.price}"></span>
    <br>
    <a th:href="@{/orders/checkout}">checkout</a>
</div>
</body>
</html>