<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>q_shop</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(Main)}"/>
    <h1>q_shop</h1>
    <h3>Simple filter</h3>
    <form th:action="@{/}" method="get">
        <div class="input-group">
            <input class="form-control" name="min_price" th:value="${param.min_price}" type="number" step="0.01" placeholder="Minimal price"/>
            <input class="form-control" name = "max_price" th:value="${param.max_price}" type="number" step="0.01" placeholder="Maximal price"/>
        </div>
        <br>
        Page size:
        <select name="page_size" >
            <option th:value="null">---</option>
            <option>10</option>
            <option>5</option>
            <option>3</option>
            <option>1</option>
        </select>
        <br>
        <select name="sort_type">
            <option th:value="null">---</option>
            <option>id</option>
            <option>price</option>
            <option>title</option>
        </select>
        <input th:type="checkbox" name="sort_direction" value="DESC">DESC

        <button class="btn btn-warning" type="submit">Filter</button>
        <a th:href="@{/}" class="btn btn-warning">Reset filter</a>
    </form>
    <h3>Simple catalog</h3>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Product</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${page.content}">
            <td th:text="${product.id}">
            <td>
                <div th:text="${product.title}"/>
                <div th:text="${product.description}"/>
                <div th:text="${product.category.title}"/>
            </td>
            <td th:text="${product.price}"></td>
            <td>
                <a th:href="@{'/cart/add/' + ${product.id}}" class="btn btn-primary">Add to cart</a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item" th:classappend="${(page.getNumber() <= 0) ? 'disabled' : ''}">
                <a th:class="page-link" th:href="@{'/?p=' + ${page.getNumber()} + ${requestDefinition}}"> << </a>
            </li>
            <li class="page-item" th:classappend="${page.getNumber() + 1 == i ? 'active' : ''}"
                th:each="i : ${#numbers.sequence(1, page.getTotalPages())}">
                <a th:class="page-link" th:text="${i}" th:href="@{'/?p=' + ${i - 1} + ${requestDefinition}}"></a>
            </li>
            <li class="page-item" th:classappend="${(page.getNumber() >= page.getTotalPages() - 1) ? 'disabled' : ''}">
                <a th:class="page-link" th:href="@{'/?p=' + ${page.getNumber() + 2} + ${requestDefinition}}"> >> </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>