<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login Page</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link rel="icon" th:href="@{/favicon.ico}" type="image/png"/>
</head>

<body>
Login Page
<hr>
<form method="POST" th:action="@{/authenticateUser}">

    <div th:if="${param.error} != null">
        <div>
            Invalid username and password
        </div>
    </div>
    <div th:if="${param.logout} != null">
        <div>
            You have been logged out
        </div>
    </div>
    <table>
        <tr>
            <td>
                Username:
            </td>
            <td>
                <input name="username" placeholder="username" type="text">
            </td>
        </tr>
        <tr>
            <td>
                Password:
            </td>
            <td>
                <input name="password" placeholder="password" type="password">
            </td>
        </tr>
        <tr>
            <td>
                submit:
            </td>
            <td>
                <button type="submit">Login</button>
            </td>
        </tr>
    </table>
</form>
<hr>
<a href="register">Register new user.</a>
</body>
</html>