<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>ecommerce</title>
</head>
<body>
<div>
    <div th:replace="~{navigation :: navigation(Cart)}"/>

    <h1>Cart</h1>
    <span th:text="'Order #' + ${order.getId()}"/>
    <table>
        <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orderItems : ${orderItems}">
            <td th:text="${orderItems.product.title}">
            <td th:text="${orderItems.quantity}">
            <td th:text="${orderItems.price}">
        </tr>
        </tbody>
    </table>
    <span th:text="'Total price: ' + ${order.price}"/>
    <br>
    <a th:href="@{/profile}">back</a>
</body>
</html>