<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>ecommerce</title>
</head>

<body>

<div>
    <div th:replace="~{navigation :: navigation(Profile)}"></div>

    <h1>Профиль</h1>

    <h5 th:text="'Name: ' + ${user.firstName} + ' ' + ${user.lastName}"></h5>
    <h5 th:text="'Phone: ' + ${user.phone}"></h5>

    <h3>Your orders</h3>
    <table>
        <thead>
        <tr>
            <th>Order</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}">
            <td th:text="${order.price}">
            <td>
                <a th:href="@{/profile/orders/{orderId}(orderId=${order.id})}">Show details</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>