<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Registration Page</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link rel="icon" th:href="@{/favicon.ico}" type="image/png"/>
</head>

<body>
Registration Page
<hr>
<form method="POST" th:action="@{/register}">

    <table>
        <tr>
            <td>
                Username:
            </td>
            <td>
                <input name="username" placeholder="username" type="text">
            </td>
        </tr>
        <tr>
            <td>
                Password:
            </td>
            <td>
                <input name="password" placeholder="password" type="password">
            </td>
        </tr>
        <tr>
            <td>
                submit:
            </td>
            <td>
                <button type="submit">Register</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>