<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Registration Page</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link rel="icon" th:href="@{/favicon.ico}" type="image/png"/>
</head>

<body>
Registration Page
<hr>

<form method="POST" th:action="@{/register}">
    <div th:if="${param.error} != null">
        <div>
            Invalid phone and password
        </div>
    </div>
    <table>
        <tr>
            <td>
                Phone:
            </td>
            <td>
                <input name="phone" placeholder="phone" type="text" value="9988776655">
            </td>
        </tr>
        <tr>
            <td>
                Password:
            </td>
            <td>
                <input name="password" placeholder="password" type="password" value="9988776655">
            </td>
        </tr>
        <tr>
            <td>
                Submit
            </td>
            <td>
                <button type="submit">Register</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>