<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Register</h1>

<form method="post" th:action="@{/register}" th:object="${user}">
    <div>
        <label for="phone">Phone:</label>
        <input id="phone" name="phone" required th:field="*{phone}" type="text">
        <span th:errors="*{phone}" th:if="${#fields.hasErrors('phone')}"></span>
    </div>

    <div>
        <label for="password">Password:</label>
        <input id="password" name="password" required th:field="*{password}" type="password">
        <span th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></span>
    </div>

    <button type="submit">Register</button>
</form>
</body>
</html>